/* 
This is utility classes 
*/

:root {
  --color-font: #374b5c;
  --color-primary: #00dbd0;
}

.inline-element {
  display: inline-block;
}

.decoration-none {
  text-decoration: none;
}

.flex-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.text-bold {
  font-weight: bold;
}

.text-color-primary {
  color: var(--color-font);
}
